@model IEnumerable<TrabalhoFinalCinema.Models.Empregados>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empregados</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Empregado</th></tr>
        </thead>
        <tbody>
            @foreach (var empregado in Model)
            {
                <tr><td>@Html.ActionLink(@empregado.Nome, "Details", new { empregado.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum empregado no momento.</p>
}



