@model IEnumerable<TrabalhoFinalCinema.Models.Comidas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comidas</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Comida</th></tr>
        </thead>
        <tbody>
            @foreach (var comida in Model)
            {
                <tr><td>@Html.ActionLink(@comida.Tipo, "Details", new { comida.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhuma comida disponível no momento.</p>
}
