@model IEnumerable<TrabalhoFinalCinema.Models.Salas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Salas</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Sala</th></tr>
        </thead>
        <tbody>
            @foreach (var sala in Model)
            {
                <tr><td>@Html.ActionLink(@sala.Nome, "Details", new { sala.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhuma sala disponível no momento.</p>
}


